<div class="footer-wrapper">
    <div class="footer">
        <p>&copy; 2015, Hofstra DRC.</p>
    </div>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="/design-framework/ui/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/design-framework/ui/fancybox/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="/design-framework/ui/js/scripts.js"></script>
</div>