<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}
    <title>{{ page.title }}</title>
</head>
<body>
<div class="outer">

{% include brand-bar.html %}
{% include main-nav.html %}

    <div class="wrapper content-wrapper">
        <h1>Index</h1>
        {{ content }}
        <div class="two-col"><div class="col-one">
            <h2>Posts by Category</h2>
            <h3>Images</h3>
            <ul>

                <li><a href="/coyote/sources/images/image-wyoming-hunters-display-catch/">Wyoming Hunters Display Pelts</a></li>

                <li><a href="/coyote/sources/images/image-unlucky-visit/">An Unlucky Visit</a></li>

                <li><a href="/coyote/sources/images/image-stewart-hunting/">Erie Stewart Hunting</a></li>

                <li><a href="/coyote/sources/images/image-running-coyote-hounds/">Running Coyote With Hounds</a></li>

                <li><a href="/coyote/sources/images/image-pelts-gray-kansas/">Coyote Pelts, Gray County, Kansas</a></li>

                <li><a href="/coyote/sources/images/image-nebraska-kansas-map/">Nebraska and Kansas Map</a></li>

                <li><a href="/coyote/sources/images/image-mcpherson-coyote-hunting3/">Jim McPherson Jr. on horseback holding a rifle and a dead coyote</a></li>

                <li><a href="/coyote/sources/images/image-mcpherson-coyote-hunting2/">Jim McPherson Jr. holding a rifle, standing behind a coyote</a></li>

                <li><a href="/coyote/sources/images/image-mcpherson-coyote-hunting/">Jim McPherson Jr. aiming a rifle into the brush at coyote</a></li>

                <li><a href="/coyote/sources/images/image-man-woman-coyote-hides/">Man shows coyote hides (2)</a></li>

                <li><a href="/coyote/sources/images/image-man-coyote-hides/">Man shows coyote hides</a></li>

                <li><a href="/coyote/sources/images/image-lord-with-coyote/">Raymond and Gilbert Lord, holding coyote</a></li>

                <li><a href="/coyote/sources/images/image-kitten-coyote/">The Kitten and the Coyote</a></li>

                <li><a href="/coyote/sources/images/image-kempton-coyote/">Asa Kempton and a roped coyote</a></li>

                <li><a href="/coyote/sources/images/image-janet-willaims-coyote/">Janet Williams with Coyote</a></li>

                <li><a href="/coyote/sources/images/image-finetta-lord-hunting/">Finetta Lord Hunting</a></li>

                <li><a href="/coyote/sources/images/image-finding-dead-coyote/">Finding Dead Coyote</a></li>

                <li><a href="/coyote/sources/images/image-deserted-kansas-town/">Deserted Kansas Town</a></li>

                <li><a href="/coyote/sources/images/image-coyote-trapped/">Trapped Coyote</a></li>

                <li><a href="/coyote/sources/images/image-coyote-roundup-kansas/">Coyote and Rabbit Round Up</a></li>

                <li><a href="/coyote/sources/images/image-coyote-pelts-car/">Coyote pelts on display</a></li>

                <li><a href="/coyote/sources/images/image-coyote-pelt2/">Coyote Pelts</a></li>

                <li><a href="/coyote/sources/images/image-coyote-hunters-volland-kansas/">Coyote Hunters in Volland, Kansas</a></li>

                <li><a href="/coyote/sources/images/image-coyote-hunt-western-kansas2/">Coyote Hunt in Western Kansas (2)</a></li>

                <li><a href="/coyote/sources/images/image-coyote-hunt-western-kansas1/">Coyote Hunt, Western Kansas (1)</a></li>

                <li><a href="/coyote/sources/images/image-coyote-hunt-silkville-kansas/">Coyote Hunt, Silkville, Kansas</a></li>

                <li><a href="/coyote/sources/images/image-coyote-hunt-kansas/">Coyote Hunt, Kansas</a></li>

                <li><a href="/coyote/sources/images/image-coyote-hunt-ford-kansas/">Coyote Hunt Ford County, Kansas</a></li>

                <li><a href="/coyote/sources/images/image-coyote-hunt-alma-kansas/">Coyote Hunters in Alma, Kansas</a></li>

                <li><a href="/coyote/sources/images/image-coyote-hounds2/">Coyote and Hounds 2</a></li>

                <li><a href="/coyote/sources/images/image-coyote-hounds-petrie/">Harry Petrie with hounds</a></li>

                <li><a href="/coyote/sources/images/image-coyote-hounds/">Coyote and Hounds (1)</a></li>

                <li><a href="/coyote/sources/images/image-coyote-dance-whiterocks3/">Coyote Dance White Rocks (3)</a></li>

                <li><a href="/coyote/sources/images/image-coyote-dance-whiterocks2/">Coyote Dance White Rocks (2)</a></li>

                <li><a href="/coyote/sources/images/image-coyote-dance-white-rocks1/">Coyote Dance White Rocks (1)</a></li>

                <li><a href="/coyote/sources/images/image-coyote-caught-trap2/">Coyote Caught in Trap</a></li>

                <li><a href="/coyote/sources/images/image-coyote-car-kansas2/">Coyote Hunt (1910-1929)</a></li>

                <li><a href="/coyote/sources/images/image-coyote-buffalo/">Slaughter of buffalos on the plains</a></li>

                <li><a href="/coyote/sources/images/image-coyote-car-kansas2/">Coyote Hunt 3 (1910-1929)</a></li>

                <li><a href="/coyote/sources/images/image-coyote-car-kansas/">Coyote Hunt 1910b</a></li>

                <li><a href="/coyote/sources/images/image-codex-telleriano/">Codex Telleriano</a></li>

                <li><a href="/coyote/sources/images/image-codex-borgia/">Codex Borgia</a></li>

                <li><a href="/coyote/sources/images/image-codex-borbonicus/">Codex Borbonicus</a></li>

                <li><a href="/coyote/sources/images/image-browns-camp/">Brown’s Camp</a></li>

                <li><a href="/coyote/sources/images/image-acelrowley-coyote-hides/">Acel Rowley and Dog with Coyote Hides</a></li>

                <li><a href="/coyote/sources/images/image-coyote-caught-trap/">Coyote Caught in Trap</a></li>

                <li><a href="/coyote/sources/images/image-urban-coyote/">Urban Coyote</a></li>

                <li><a href="/coyote/sources/images/image-twain-roughinit3/">Twain, Roughin It (3)</a></li>

                <li><a href="/coyote/sources/images/image-twain-roughinit2/">Twain, Roughin It (2)</a></li>

                <li><a href="/coyote/sources/images/image-twain-roughinit/">Twain, Roughin It (1)</a></li>

                <li><a href="/coyote/sources/images/image-stretching-coyote-skins/">Stretching Coyote Skins</a></li>

                <li><a href="/coyote/sources/images/image-nuevo-coyote/">El Nuevo Coyote</a></li>

                <li><a href="/coyote/sources/images/image-historia-nature-page/">Historia Naturae Maxime Peregrinae (Page view)</a></li>

                <li><a href="/coyote/sources/images/image-historia-nature-1/">Historia Naturae Maxime Peregrinae (Detail)</a></li>

                <li><a href="/coyote/sources/images/image-coyote-pelts/">Coyote Pelts</a></li>

                <li><a href="/coyote/sources/images/image-coyote-clown-prairies/">Coyote, Clown of the Prairies</a></li>

                <li><a href="/coyote/sources/images/image-barney-moore-coyote/">Barney Moore holding coyote</a></li>

                <li><a href="/coyote/sources/images/image-abernathy-coyote-jaw/">Abernathy holding coyote by jaw</a></li>

                <li><a href="/coyote/sources/images/image-prairie-wolf-distress/">Prairie Wolf In Distress</a></li>

                <li><a href="/coyote/sources/images/image-long-expedition-say/">Thomas Say, Canis Latrans (page view)</a></li>

                <li><a href="/coyote/sources/images/image-harding-newhousetrap/">Newhouse Trap, No. 4</a></li>

                <li><a href="/coyote/sources/images/image-statuette-of-anubis/">Statuette of Annubis</a></li>

                <li><a href="/coyote/sources/images/image-pleistocene-coyote-skull/">Sketch of a coyote skull from the the La Brea Tarpits</a></li>

                <li><a href="/coyote/sources/images/image-feather-shield-of-ahuizotl-front2/">Feather Shield of Ahuizotl (front 2)</a></li>

                <li><a href="/coyote/sources/images/image-feather-shield-ahuizotl-front1/">Feather Shield of Ahuizotl (front 1)</a></li>

                <li><a href="/coyote/sources/images/image-feather-shield-ahuizotl-backside/">Feather Shield of Ahuizotl (back view)</a></li>

                <li><a href="/coyote/sources/images/image-coyote-head/">Coyote Head</a></li>

                <li><a href="/coyote/sources/images/image-pleistocene-coyote-skeleton/">Skeleton of a coyote from the La Brea Tarpits</a></li>

            </ul>

            <h3>Interpretive Material</h3>
            <ul>

                <li><a href="/coyote/sources/interpretive%20material/home-page-text/">Home Page Text</a></li>

            </ul>

            <h3>Literary Works</h3>
            <ul>

                <li><a href="/coyote/sources/literary%20works/seton-cute-coyote/">The Cute Coyote</a></li>

                <li><a href="/coyote/sources/literary%20works/grand-forks-herlad-old-man-coyote-burgess/">Old Man Coyote Gives Up His Home</a></li>

                <li><a href="/coyote/sources/literary%20works/evening-star-old-man-coyote-burgess/">Old Man Coyote Takes His Time</a></li>

                <li><a href="/coyote/sources/literary%20works/evening-star-burgess-mouse-and-coyote/">Danny Meadow Mouse Shivers and Shakes</a></li>

                <li><a href="/coyote/sources/literary%20works/twain-roughinit/">Mark Twain, Roughin It</a></li>

            </ul>

            <h3>Myths</h3>
            <ul>

                <li><a href="/coyote/sources/myths/teit-shushwap-coyote-wives/">Coyote and His Wives</a></li>

                <li><a href="/coyote/sources/myths/teit-shushwap-coyote-night-day/">Coyote and Grisly Bear make the Seasons, and Night and Day</a></li>

                <li><a href="/coyote/sources/myths/teit-shushwap-coyote-eyes/">Coyote and Holxolī’p</a></li>

                <li><a href="/coyote/sources/myths/teit-salishan-coyote-eyes/">Coyote was travelling...</a></li>

                <li><a href="/coyote/sources/myths/simms-crows-coyote-theft-summer/">Old Man Coyote and Theft of Summer</a></li>

                <li><a href="/coyote/sources/myths/opler-lipan-apache-coyote-fire/">Coyote Steals Fire from the Fireflies</a></li>

                <li><a href="/coyote/sources/myths/opler-lipan-apache-coyote-eyes/">Coyote as Eye Juggler</a></li>

                <li><a href="/coyote/sources/myths/opler-jicarilla-apache-coyote-obtains-fire/">Coyote Obtains Fire</a></li>

                <li><a href="/coyote/sources/myths/opler-jicarilla-apache-coyote-marries-daughter/">Coyote Marries Daughter</a></li>

                <li><a href="/coyote/sources/myths/opler-jicarilla-apache-coyote-eyes/">Coyote as Eye Juggler</a></li>

                <li><a href="/coyote/sources/myths/opler-chiricahua-apache-coyote-marries-daughter/">Coyote Marries His Own Daughter</a></li>

                <li><a href="/coyote/sources/myths/matthews-navajo-coyote-eyes/">Coyote, in the mean time...</a></li>

                <li><a href="/coyote/sources/myths/mason-ute-coyote-eyes/">Coyote Juggles His Eyes and Becomes Blind</a></li>

                <li><a href="/coyote/sources/myths/clark-duval-blackfoot-coyote-eyes/">Old Man Loses His Eyes</a></li>

                <li><a href="/coyote/sources/myths/opler-chiricahua-coyote-eye-juggler/">Coyote as Eye Juggler</a></li>

                <li><a href="/coyote/sources/myths/opler-chiricahua-apache-coyote-death/">Coyote Causes Death</a></li>

                <li><a href="/coyote/sources/myths/kroeber-ute-coyote-marries-daugther/">Coyote Marries Daugther</a></li>

                <li><a href="/coyote/sources/myths/krober-ute-coyote-steals-fire/">Coyote Steals Fire</a></li>

                <li><a href="/coyote/sources/myths/image-goddard-jicarilla-coyote-marries-translation/">Coyote Marries Under False Pretenses (phonetic transcription)</a></li>

                <li><a href="/coyote/sources/myths/hill-hill-coyote-eye-juggler/">Coyote Loses His Eyes</a></li>

                <li><a href="/coyote/sources/myths/goddard-white-mnt-apache-doings-coyote/">The Doings of Coyote</a></li>

                <li><a href="/coyote/sources/myths/goddard-sancarlos-apache-tarbaby/">Tar Baby</a></li>

                <li><a href="/coyote/sources/myths/goddard-sancarlos-apache-coyoye-eyes/">Coyote's Eyes</a></li>

                <li><a href="/coyote/sources/myths/goddard-sancarlos-apache-coyote-wins-daylight/">Winning Daylight</a></li>

                <li><a href="/coyote/sources/myths/goddard-jicarilla-apache-coyote-marries/">Coyote Marries Under False Pretenses</a></li>

                <li><a href="/coyote/sources/myths/goddard-jicarilla-apache-coyote-eyes/">Coyote Loses His Eyes</a></li>

                <li><a href="/coyote/sources/myths/goddard-mca-coyote-fire/">Securing Fire</a></li>

                <li><a href="/coyote/sources/myths/goddard-jat-coyote-secures-fire/">Coyote Secures Fire</a></li>

                <li><a href="/coyote/sources/myths/dorsey-kroeber-arapaho-Nihancan-Coyote/">Nih'ancan and Coyote</a></li>

            </ul>

            <h3>Natural History</h3>
            <ul>

                <li><a href="/coyote/sources/natural%20history/thomas-say-canis-latrans/">Thomas Say, Canis Latrans</a></li>

                <li><a href="/coyote/sources/natural%20history/nieremberg-historia-naturae/">Historia Naturae</a></li>

                <li><a href="/coyote/sources/natural%20history/lewis-and-clark/">The Journals of Lewis and Clark, 1804-1806</a></li>

            </ul>

            <h3>Newspapers</h3>
            <ul>

                <li><a href="/coyote/sources/newspapers/the-oasis-coyote-fence/">Coyote-Proof Pasture</a></li>

                <li><a href="/coyote/sources/newspapers/the-apeal-coyote-hunter/">Coyote Hunter Advance Agent of  Civilization</a></li>

                <li><a href="/coyote/sources/newspapers/sf-call-war-on-varmints/">The Ranchmen's War on Varmints</a></li>

                <li><a href="/coyote/sources/newspapers/sf-call-biograhy-tame-coyote/">Biograhy of a Tame Coyote</a></li>

                <li><a href="/coyote/sources/newspapers/ranche-range-coyote/">The Artful Coyote</a></li>

                <li><a href="/coyote/sources/newspapers/pullman-herlad-bounty-varmints/">Bounty on Varmints</a></li>

                <li><a href="/coyote/sources/newspapers/la-herald-coyote-rabbit/">Coyote and Jack Rabbit</a></li>

                <li><a href="/coyote/sources/newspapers/holbrook-argus-coyote-pariah/">Pariah of the Skyline</a></li>

                <li><a href="/coyote/sources/newspapers/evening-star-hunting-coyotes/">Hunting Coyotes Jolly Good Sport</a></li>

                <li><a href="/coyote/sources/newspapers/east-oregonian-rancher-coyote/">M’Kay Creek Rancher Has an Exciting Adventure With Mad Coyote</a></li>

                <li><a href="/coyote/sources/newspapers/missoulian-following-old-trails/">Following Old Trails</a></li>

                <li><a href="/coyote/sources/newspapers/day-book-coyote-killer/">U.S. Ranger is Champion Coyote Killer</a></li>

                <li><a href="/coyote/sources/newspapers/daily-capital-journal-coyote-fund/">County Varmint Fund Tapped Twice in a Day</a></li>

                <li><a href="/coyote/sources/newspapers/colville-coyote-pest/">The Coyote a Pest But The Pelt Worth Money</a></li>

                <li><a href="/coyote/sources/newspapers/arizona-republican-poison/">U.S. Introduces New Coyote Poison To Kill Off Pest</a></li>

            </ul>

            <h3>Oral History</h3>
            <ul>

                <li><a href="/coyote/sources/oral%20history/urruty-interview/">Urruty, Oral History</a></li>

                <li><a href="/coyote/sources/oral%20history/rindinger-interview/">Rindinger Interview</a></li>

                <li><a href="/coyote/sources/oral%20history/burns-interview/">Burns, Reminiscings of a cattleman</a></li>

                <li><a href="/coyote/sources/oral%20history/cravens-and-crawford/">I was born in Austin, Texas</a></li>

            </ul>

            <h3>Scholarly Works</h3>
            <ul>

                <li><a href="/coyote/sources/scholarly%20works/feather-sheild-ahuizotl-controversy/">Coyote or Bear?</a></li>

            </ul>

            <h3>Trapping and Hunting Descriptions</h3>
            <ul>

                <li><a href="/coyote/sources/trapping%20and%20hunting%20descriptions/harding2/">Steel Traps, Describes the Various Makes and Tells How to Use Them</a></li>

                <li><a href="/coyote/sources/trapping%20and%20hunting%20descriptions/day-book-trap-wolves/">How I Trap Wolves</a></li>

                <li><a href="/coyote/sources/trapping%20and%20hunting%20descriptions/harding-wolf-coyote-trapping/">Wolf and Coyote Trapping</a></li>

            </ul>
        </div>
        <div class="col-two">
            <h2>Tags</h2>
{% include tag-cloud.html %}
        </div></div>
    </div>
</div>
{% include footer.html %}
</body>
</html>