<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}
    <title>{{ page.title }}</title>
    <script type="text/javascript" src="https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js"></script>
    <link type="text/css" rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css" media="all" />
</head>
<body>
<div class="outer">

{% include brand-bar.html %}
{% include main-nav.html %}
    <div id="map-container"><noscript>
        <p>An interactive map resides here.</p>
    </noscript></div>
{% include page-content.html %}
</div>
{% include footer.html %}
<script type="text/javascript">
    var mapbox_id = 'clearbold.l4gjpd88';
    var map_center = [51.514, -0.0881481171];
    var map_zoom = 14;
    var tile_layer_mapbox = 'https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png';
    var map_mapbox = L.tileLayer( tile_layer_mapbox, {id: mapbox_id});
    var map = L.map('map-container', {layers:map_mapbox});
    map.dragging.enable();
    map.touchZoom.disable();
    map.doubleClickZoom.enable();
    map.scrollWheelZoom.disable();
    map.setView(map_center, map_zoom);
</script>
</body>
</html>