<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}
    <title>{{ page.title }}</title>
</head>
<body>

<div class="brand-bar">
    <div class="brand-logo">
        <a href="/"><img src="{{ site.baseurl }}/ui/img/drc.logo.horizontal.png"
            width="247"
            height="42"
            alt="Hofstra Digital Research Center" /></a>
    </div>
    <div class="brand-tagline">
        <p>One sentence project tagline.</p>
    </div>
</div>
<div class="main-nav" role="navigation">
    <ul>
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="#"{% if page.active == 'about-the-project'%} class="active"{% endif %}>About the Project</a></li>
        <li><a href="#">About the Team</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
</div>
<div class="wrapper content-wrapper">
    <h1>{{ page.title }}</h1>
    {{ content }}
</div>

</body>
</html>