<!DOCTYPE html>
<html lang="en">
<head>
{% include head.html %}
    <title>{{ page.title }}</title>
</head>
<body>
<div class="outer">

{% include brand-bar.html %}
{% include main-nav.html %}

    <div class="wrapper content-wrapper">
        <h1>Index</h1>
        {{ content }}
        <div class="two-col"><div class="col-one">
            <h2>Posts for Tag: {{ page.title }}</h2>
            <ul>
{% for post in site.posts %}
{% if post.tags contains page.tag %}
                <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
{% endif %}
{% endfor %}
            </ul>
        </div>
        <div class="col-two">
            <h2>Tags</h2>
{% include tag-cloud.html %}
        </div></div>
    </div>
</div>
{% include footer.html %}
</body>
</html>