@charset "UTF-8";
* {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

/* IE10/11 Metro responsive
 Required for Windows 8 Metro split-screen snapping with IE10 and IE11
 Source: http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/ */
@-ms-viewport {
  width: device-width; }
body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #EFEFEF;
  font-family: sans-serif; }

a {
  color: #003594; }

.code {
  background: #efefef;
  font-family: monospace; }

/* Sticky footer */
html {
  min-height: 100%; }

html, body {
  height: 100%; }

body {
  display: table;
  table-layout: fixed;
  width: 100%; }

.outer,
.footer-wrapper {
  display: table-row;
  height: 1px; }

.outer {
  height: 100%; }

.footer-wrapper {
  background: rgba(0, 0, 0, 0.75); }

.footer {
  color: #FFFFFF;
  margin-right: auto;
  margin-left: auto;
  max-width: 940px;
  padding-top: 40px;
  padding-bottom: 40px; }

.footer p {
  font-size: 14px;
  text-align: center; }

.brand-bar {
  background: #FFFFFF;
  height: 82px;
  padding-top: 20px;
  padding-right: 40px;
  padding-left: 40px;
  width: 100%; }
  .brand-bar:before, .brand-bar:after {
    content: "";
    display: table; }
  .brand-bar:after {
    clear: both; }

.brand-logo {
  display: inline-block;
  float: left; }

.brand-tagline {
  display: inline-block;
  float: right;
  font-family: sans-serif;
  height: 42px; }

.brand-tagline p {
  color: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  font-style: italic;
  line-height: 42px;
  margin: 0; }

@media all and (max-width: 940px) {
  .brand-bar {
    height: auto;
    padding-right: 20px;
    padding-left: 20px; }

  .brand-logo {
    display: block;
    float: none; }

  .brand-tagline {
    display: block;
    float: none; } }
.wrapper {
  margin: 0 auto;
  max-width: 940px;
  padding-right: 40px;
  padding-bottom: 12px;
  padding-left: 40px; }
  .wrapper:before, .wrapper:after {
    content: "";
    display: table; }
  .wrapper:after {
    clear: both; }

@media all and (max-width: 940px) {
  .wrapper {
    padding-right: 20px;
    padding-left: 20px; } }
h1 {
  background: #003594;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 32px;
  margin-right: -40px;
  margin-bottom: 36px;
  margin-left: -40px;
  padding-top: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 40px; }

@media all and (max-width: 940px) {
  h1 {
    font-size: 24px;
    line-height: 30px;
    margin-right: -20px;
    margin-bottom: 34px;
    margin-left: -20px;
    padding-top: 18px;
    padding-right: 20px;
    padding-bottom: 18px;
    padding-left: 20px; } }
.main-nav {
  margin: 0 auto;
  max-width: 940px; }
  .main-nav:before, .main-nav:after {
    content: "";
    display: table; }
  .main-nav:after {
    clear: both; }

.main-nav ul {
  float: left;
  list-style: none; }

.main-nav ul li {
  border-left: 1px solid #FFFFFF;
  display: inline-block;
  float: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 400; }

.show-mobile-nav {
  display: none; }

.main-nav ul li:first-child {
  border-left: none;
  padding-left: 20px; }

.main-nav ul li a {
  color: rgba(0, 0, 0, 0.75);
  display: block;
  letter-spacing: 1px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s; }

.main-nav ul li a:active,
.main-nav ul li a:hover,
.main-nav ul li a.active {
  background: rgba(0, 0, 0, 0.75);
  color: #FFFFFF; }

@media all and (max-width: 940px) {
  .main-nav ul {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    float: none; }

  .main-nav ul.show {
    clip: none !important;
    height: auto !important;
    margin: 0 !important;
    position: static !important;
    width: auto !important; }

  .main-nav ul li {
    border-left: none;
    display: block;
    float: none; }

  .show-mobile-nav {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1em;
    text-align: center; }

  .show-mobile-nav a {
    color: rgba(0, 0, 0, 0.75);
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    text-transform: uppercase; }

  .main-nav ul li:first-child {
    padding-left: 0; } }
.header-wrapper {
  margin: 0 auto;
  max-width: 940px;
  width: 100%; }
  .header-wrapper:before, .header-wrapper:after {
    content: "";
    display: table; }
  .header-wrapper:after {
    clear: both; }

.header-wrapper img {
  display: block;
  height: auto;
  width: 100%; }

.content-wrapper {
  background: #FFFFFF;
  margin-bottom: 40px; }

.content-wrapper h2,
.content-wrapper h3 {
  margin-bottom: 16px; }

.content-wrapper h2 {
  font-size: 24px;
  line-height: 1.25em; }

.content-wrapper h3 {
  font-size: 20px;
  line-height: 1.25em; }

.content-wrapper h4 {
  font-size: 18px;
  line-height: 1.25em;
  margin-bottom: 1.5em; }

.content-wrapper p {
  color: rgba(0, 0, 0, 0.9);
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  margin-bottom: 1.5em; }

.content-wrapper ul {
  padding-bottom: .75em; }

.content-wrapper li {
  color: rgba(0, 0, 0, 0.9);
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  margin-bottom: .75em; }

@media all and (max-width: 940px) {
  .content-wrapper h2,
  .content-wrapper h3 {
    font-size: 14px; }

  .content-wrapper h2 {
    font-size: 22px; }

  .content-wrapper h3 {
    font-size: 18px; }

  .content-wrapper h4 {
    font-size: 16px; }

  .content-wrapper p {
    font-size: 16px; }

  .content-wrapper li {
    font-size: 16px; } }
.data-table {
  margin-bottom: 40px;
  overflow-x: scroll; }

.data-table table {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-collapse: collapse;
  width: 100%; }

.data-table table th {
  background: #FFFFFF;
  border-bottom: 1px solid #ddd;
  font-size: 12px;
  letter-spacing: .5px;
  line-height: 1.25em;
  padding-top: 8px;
  padding-right: 6px;
  padding-bottom: 8px;
  padding-left: 10px;
  text-align: left;
  vertical-align: bottom; }

.data-table table td {
  font-size: 12px;
  letter-spacing: .25px;
  line-height: 1.25em;
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 12px;
  padding-left: 10px;
  vertical-align: top; }

.data-table table tr.even td {
  background: #FFFFFF; }

.data-table table tr th:first-child,
.data-table table tr td:first-child {
  padding-left: 20px; }

.data-table table tr th:last-child,
.data-table table tr td:last-child {
  padding-right: 20px; }

@media all and (max-width: 940px) {
  .data-table table,
  .data-table table thead,
  .data-table table tbody,
  .data-table table th,
  .data-table table td,
  .data-table table tr {
    display: block; }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px; }

  .data-table table tr.even td {
    background: none; }

  .data-table table tr.odd td {
    background: #FFFFFF; }

  .data-table table tr th:first-child {
    padding-left: 10px; }

  .data-table table tr td,
  .data-table table tr td:first-child,
  .data-table table tr td:last-child {
    /* Behave  like a "row" */
    border: none;
    position: relative;
    padding-left: 50%;
    padding-right: 20px; }

  .data-table table td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 12px;
    left: 10px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap; } }
figure {
  display: block;
  height: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  max-width: 800px;
  width: 100%; }

figure > a {
  display: block; }

figure img {
  display: block;
  height: auto;
  margin-bottom: 20px;
  width: 100%; }

figure figcaption {
  font-size: 14px;
  font-style: italic; }

@media all and (max-width: 940px) {
  figure {
    margin-bottom: 20px; } }
.two-col:before, .two-col:after {
  content: "";
  display: table; }
.two-col:after {
  clear: both; }

.two-col > div {
  float: left; }

.two-col > div:first-child {
  padding-right: 20px;
  width: 65%; }

.two-col > div:last-child {
  padding-left: 20px;
  width: 35%; }

@media all and (max-width: 940px) {
  .two-col > div:first-child,
  .two-col > div:last-child {
    float: none;
    padding-right: 0;
    padding-left: 0;
    width: 100%; } }
#map-container {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: #EFEFEF;
  clear: both;
  margin-bottom: 20px;
  width: 100%;
  height: 400px; }

.force-UTF-8 {
  content: "¡"; }

/*# sourceMappingURL=styles.css.map */
